/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  height:437px;
  background-color:rgba(0, 0, 0, 0.5);
  z-index:3;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1.39s;
  -o-transition: 1.39s;
  transition: 1.39s;
}
.slideshow-container:hover{
    background-color:rgba(0, 0, 0, 0.267);
}
.slide-sec-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:100%;
}
.mySlides {
 width:700px;
 height:100%;
 margin-top:33px;
}
.mySlides img{
-webkit-box-align:end;
    -ms-flex-align:end;
        align-items:flex-end;
width:100%;
height:100%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* Position the "next button" to the right */
.prev{
    left:0;
    height:50px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  height:50px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #363496;
  font:bolder 15px poppins, BPG Mrgvlovani;
  top:90%;
  margin-left:1%;
  position: absolute;
  height:50px;
  cursor:context-menu;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #22a5a5;
  font-size: 12px;
  font-family:poppins;
  padding: 8px 12px;
  position: absolute;
  top: 84%;
  cursor:context-menu;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.dots{
  top:0;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@media(max-width:1043px){
     .slideshow-container{
       width:868px;
   }
}
@media(max-width:886px){
     .slideshow-container{
       width:640px;
   }
}
@media(max-width:660px){
   .slideshow-container{
     width:375px;
 }
 
 .slide-sec-container,
 .slideshow-container{
     height:300px;
 }
}
@media(max-width:395px){
     .slideshow-container{
       width:280px;
   }.slide-sec-container,
   .slideshow-container{
       height:250px;
   }
}